{%extends "home.html"%}
{%block goods %}active{% endblock %}
{% load static %}
{% block mainbody %}
	<script>
		$(function(){
				$('#GoodsbatchImport').change(function(){
				// 使用Ajax实现文件上传操作
				// 创建一个FormData对象，用于存放上传文件的数据
				var form_data = new FormData();
				// 读取上传文件的数据
				var file_info = $("#GoodsbatchImport")[0].files[0];
				// 将读取到的二进制数据添加到formData对象中
				form_data.append("file", file_info);
				console.log("准备上传...")
				// 使用Ajax发送异步请求并携带请求数据
				$.ajax({
					async: true,
					data: form_data,
					url: "/app/importGoods/import/",
					type: "post",
					headers: {"X-CSRFToken":$.cookie("csrftoken")},
					processData: false, //不序列化data
					contentType: false, //不设置发送数据流的类型
					success: function(data){
						if(data == "True"){
							alert("文件上传成功");
						}
						else{
							alert("文件上传失败");
						}
					}
				});
			});
		});
	</script>
	<div class="backgroundStore">
		<!--标题栏-->
		<div class="titleStore">货物信息</div>
		<div class="contentStore">
			<!--按钮区-->
			<div class="buttondivStore">
				<input type="image" src="{%static 'Image/Search.png'%}" title="搜索" class="addButtonStore" id="findGoods2" value="查找" onclick="javascript:Goodsinquiry2()"/>
				<!-- <a href="/app/index2_normal/">
					<button class="addButton" id="returnStore3" >返回展示页</button>
				</a> -->
				<input type="image" src="{%static 'Image/return.png'%}" title="返回" class="addButtonStore" id="returnStore3" value="返回展示页" onclick="javascript:history.back()"/>
			</div>
			<!--表格展示区-->
			<div class="TableStore">
				<table id="tablelistGoods2" class="tablelist" style="width:100%;" cellpadding="0";cellspacing="0">
					<tr class="StoreTr">
						<td style="text-align:center;border-top-left-radius:25px;">货物id</td>
						<td style="text-align:center;">货物名称</td>
						<td style="text-align:center;">货物类型</td>
						<td style="text-align:center;">存放仓库</td>
						<td style="text-align:center;">入库时间</td>
						<td style="text-align:center;">货物量</td>
						<td style="text-align:center;border-top-right-radius: 25px;">所在货架</td>
						
					</tr>
					{% for goods in lstGoods %}      
					<tr class="StoreTr2">
						<td style="text-align:center; background-color:white; height:25px;">
							<label style="font-weight:bold;">{{ goods.goodsId }}</label>
						</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsName }}</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsType }}</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsStore }}</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsDate }}</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsAmount }}</td>
						<td style="text-align:center; background-color:white;">{{ goods.goodsShelves }}</td>
						
					</tr>
					{% empty %}
					<tr>
						<td colspan="8" style="text-align:center; background-color:white; height:25px;">
								<label class="tooltip" style="color:black" >暂无数据</label>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	



	<!-- 查询货物界面 -->
	<div id="inquiryModalGoods2" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2>查询货物</h2>
				<span id="inquirycloseBtnGoods2" class="closeStore">×</span>
			</div>
			<div class="modal-body">
				<form id="inquiryGoodsFrom2" name="inquiryGoodsFrom" method="post" action="/app/searchGoods_normal/search/">
					{% csrf_token %}
					<!-- <p>
						<label class="input_font">货物id：</label>
						<input type="text" id="inquiryGoodsId" name="inquiryGoodsId" value="请输入" placeholder="输入货物id" />
					</p> -->
					<p>
						<label class="input_font">货物名称：</label>
						<input type="text" id="inquiryGoodsName2" name="inquiryGoodsName"  placeholder="输入货物名称"/>
					</p>
                    <p>
						<label class="input_font">货物类型：</label>
						<input type="text" id="inquiryGoodsType2" name="inquiryGoodsType"  placeholder="输入货物类型"/>
					</p>
					<p>
						<label class="input_font">所在货架id：</label>
						<input type="text" id="inquiryGoodsAmount2" name="inquiryGoodsShelves"  placeholder="输入货架id"/>
					</p>
                    <p>
						<label class="input_font">存放仓库id：</label>
						<input type="text" id="inquiryGoodsStore2" name="inquiryGoodsStore" placeholder="输入存放仓库" required/>
					</p>
                   
					
					<p>
						<button class="btnsubmit">查询货物</button>
					</p>
				</form>
			</div>
		</div>
	</div>
	{%endblock%}
